
body {
  font-family: 'Press Start 2P', cursive;
  background-color: #0f0f0f;
  color: #00ffea;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  padding: 0 2.5%;
}
h1{
  padding: 10px;
  text-align: center;
  font-size: 50px;
}

.row {
  display: flex;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.box {
  width: 150px;
  height: 150px;
  background-color: #1a1a1a;
  color: #00ffea;
  border: 3px solid #00ffea;
  font-size: 2rem;
  border-radius: 5px;
  margin: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}
.box:hover {
  background-color: #282828;
  cursor: pointer;
  transform: scale(1.05);
  border-color: #c5fffe;
  color: #c5fffe;
}

.app {
  text-align: center;
  margin-top: 25px;
}
.reset {
  margin-top: 20px;
  background-color: #00ffea;
  color: #0f0f0f;
  font-size: 1rem;
  font-family: 'Press Start 2P', cursive;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  box-shadow: 0 0 10px #00ffea;
  transition: all 0.2s ease-in-out;
}

.reset:hover {
  background-color: #c5fffe;
  box-shadow: 0 0 20px #08d9d6;
  cursor: pointer;
}
.reset:active {
  transform: scale(0.95);
}
.winner{
  text-align: center;
}
h2, .turn {
  color: #ff0000;
  margin: 20px 0 10px;
  font-size: 1.2rem;
  text-shadow: 0 0 5px #ff0000;
}
.footer{
  color: #ff0000;
  font-size: 0.5rem;
  text-align: center;
  padding: 100px;
}
